html
	head
		title #{title}
		link( href="/static/css/materialize.min.css" type="text/css" rel="stylesheet" )
		link( href="/static/custom.css" type="text/css" rel="stylesheet" )
	body
		nav
			div.nav-wrapper
				a#logo.brand-logo UI
				ul.right
					li
						a(href="/addUser") Add User
					li
						a(href="/index") User List
					li
						a(href="/search") Search User
		div#header.valign-wrapper
			div.row.valign
				div.col.l12
					h1.center.white-text What do I do?
		main
			div.container
				div.row
					div.col.l8.offset-l2
						div#topcard.card
							div.card-content
								h2 Search User
								form(id='contact' method='POST' action='/search')
									div(class='container')
										div(class='head')
											h2 SEARCH USER
										input(type='text' name='nameInput' id='provider-json' placeholder='Name')
										div(class='message') Go
										input(id='submit' type='submit' value='Go') 
		footer.page-footer
			div.container
				div.row
					div.col.l6.s12
						h5.white-text MB Footer
						p.grey-text.text-lighten-3 Oh my god this footer is amahzing
					div.col.l4.offset-l2.s12
						h5.white-text Links
						ul.grey-text.text-lighten-3
					li OMG
					li OMG
					li OMG
				div.footer-copyright
				div.container.grey-text © 2025 Copyright Text
		script( src="/static/jquery-3.1.1.min.js" )
		script( src="/static/js/materialize.min.js" )
		script( src="/static/custom.js" )