html
	head
		script(src='/main.js')

		link( href="/css/materialize.min.css" type="text/css" rel="stylesheet" )
		link( href="/style.css" type="text/css" rel="stylesheet" )
	body
		nav
			div.nav-wrapper
				a#logo.brand-logo Session Demo
				ul.right
					li
						a(href='/') home
					li
						a(href='/logout') log out
			
		div#header.valign-wrapper
			div.row.valign
				div.col.l12
		main
			div.container
				div.row
					div.col.l8.offset-l2
						div#topcard.card
							div.card-content
								h2= user.name
								h3= user.email

		footer.page-footer
			div.container
				div.container.grey-text © 2016 Ilana Enderman

		script( src="/jquery-3.1.1.min.js" )
		script( src="/js/materialize.min.js" )
		script( src="/main.js" )
