html
	head
		script(src='/main.js')

		link( href="/css/materialize.min.css" type="text/css" rel="stylesheet" )
		link( href="/style.css" type="text/css" rel="stylesheet" )
	body
		nav
			div.nav-wrapper
				a#logo.brand-logo Session Demo
			
		div#header.valign-wrapper
			div.row.valign
				div.col.l12
		main
			div.container
				div.row
					div.col.l8.offset-l2
						div#topcard.card
							div.card-content
								if user
									a(href='/profile') view profile
									br
									a(href='/logout') log out
								else
									form(action='/login' method='post')
										div(class='container')
											div(class='head')
										label Enter your email
										input#email(name='email' required)
										label Enter your password
										input#password(name='password' required)
										input(type='submit' value='login' id='submit')

								h2#error-message= message
		footer.page-footer
			div.container
				div.container.grey-text © 2016 Ilana Enderman

		script( src="/jquery-3.1.1.min.js" )
		script( src="/js/materialize.min.js" )
		script( src="/main.js" )