
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
nav, footer.page-footer {
  background-color: maroon;
}

#logo {
  padding-left: 10px;
}

#topcard {
  margin-top: -80px;
}

#header {
  min-height: 500px;
  background-color: grey;
  background-image: url('/message.jpg');
  background-position: center;
  background-size: cover;
}

main {
  flex: 1 0 auto;
}